/* .mainContent {
    width: 90%;
    padding: 2.5% 5%;
}

.dashContainer {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    width: 17%;
    height: 100vh;
    position: relative;
    left: 0;
    text-align: center;
    background: #f1f1f1;
}

.fontSizeSmall {
    font-size: small;
}

.btn,
.edit {
    border: none;
    color: white;
    background: rgb(72, 72, 207);
    width: 4.5rem;
    height: 2rem;
    margin: auto 0;
    position: relative;
    top: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.edit:hover {
    background-color: rgb(18, 18, 118);
}

.col-div {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
}

.select {
    width: 11vw;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px;
}

.s1 {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    height: 46%;
}

.tableContent {
    margin-top: 5%;
}

.edit {
    position: relative;
    left: 79%;
    margin-bottom: 2%;
}

table,
td,
th {
    margin: 0;
    border-collapse: collapse;
    border: 1px solid lightgrey;
    text-align: left;
}

th,
td {
    padding: 4px 7px;
}

table {
    width: 85%;
}

.font-weight-800 {
    font-weight: 800;
    color: black;
}

.save {
    position: relative;
    top: 33%;
    left: 40%;
} */